= form_for @investment_package, url: url, method: m do |f|
  #settings_errors
    - if @investment_package.errors.any?
      .alert.alert-sm.alert-danger.fade.in
        %ul
          - @investment_package.errors.full_messages.each do |msg|
            %li= t('field') + ' ' + msg
  .form-group.hidden
    = f.hidden_field :investor_id, value: @authorized.id
  .form-group
    = f.label :period
    = f.text_field :period, class: 'form-control'
  .form-group#investments
    = f.fields_for :investments, wrapper: 'inline' do |investment|
      = render 'investment_fields', f: investment
    .form-group.links.pull-right
      = link_to_add_association t('add'), f, :investments, class: "btn btn-success btn-block"
  .form-group
    = submit_tag t('.save'), class: "btn btn-primary btn-block"
